<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='drive.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>GFile Hub</title>
    <style>
        .multi-color-text span {
            color: red;
        }

        .multi-color-text span:nth-child(2) {
            color: green;
        }

        .multi-color-text span:nth-child(3) {
            color: blue;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        {% if not authenticated %}
            <a class="login-button" href="{{ url_for('login') }}">Login</a>
        {% else %}
            <a href="{{ url_for('google_drive_api') }}">Google Drive Files</a>
            <a class="logout-button" href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>


    <div class="multi-color-text">
        <h1><span>Goo</span><span>gle</span> <span>Dri</span><span>ve</span></h1>
        <h4>Get your Google drive files!</h4>
        
       
    </div>
</body>
</html>
